<div
  class="room {{ active ? 'toggle' : '' }}"
  (click)="setCurrentRoom.emit(this.room)"
>
  <img src="assets/avatar.png" />
  <h4>test</h4>
</div>
<!-- 
    <h4
    title="{{
      this.room?.users?.currentUser?.id === currentUser?.id
        ? this.room?.users?.selectedUser?.name
        : this.room?.users?.currentUser?.name
    }}"
  >
    {{
      this.room?.users?.currentUser?.id === currentUser?.id
        ? this.room?.users?.selectedUser?.name
        : this.room?.users?.currentUser?.name
    }}
    <br />
  </h4>
 -->
