:root {
  --main-bg-color: brown;
  --green-valider-module: #95e616;
  --grey-block: #f0efef;
  --ombre-block: #b2b2b2;
  --bleu-capgemini: #0070ad;
  --lightblue: #12abdb;
  --lightblue-rgb: 18, 171, 219;
  --lightgrey: #ededed;
  --green: #9dda77;
  --gold: #fcf192;
  --red: #ff4e4e;
  --dark: #2b0a3d;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu/Ubuntu-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu/Ubuntu-Light.ttf");
  font-weight: 100;
}

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  color: var(--dark);
}
*::-webkit-scrollbar {
  display: none;
}
